/*--------------------------------------------------------------
## Typewriter Styling (Using CSS)
--------------------------------------------------------------*/
// .typewriter {
//   overflow: hidden;
//   width: 0%;
//   white-space: nowrap;
//   animation: typing 4s steps(100, end);
//   animation-play-state: paused;
//   &.typewriter-start {
//     animation-play-state: running;
//   }
// }
// .typewriter-wrapper {
//   display: flex;
//   width: auto;
// }

// @keyframes typing {
//   from {
//     width: 0%;
//   }
//   to {
//     width: 100%;
//   }
// }


/*--------------------------------------------------------------
## Typewriter Styling (Using JS)
--------------------------------------------------------------*/

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  &.start{
    opacity: 1;
  }
  &.end{
    opacity: 0;
  }

  &::after{
    content: "_";
    display: inline-block;
    animation: cursor-blink 0.7s infinite alternate;
    margin-left: 0.1em;
  }
}


@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}