/*--------------------------------------------------------------
## Typewriter Styling (Using JS)
--------------------------------------------------------------*/

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  &.start {
    opacity: 1;
  }
  &.end {
    opacity: 0;
  }

  &::after {
    content: "_";
    display: inline-block;
    animation: cursor-blink 0.7s infinite alternate;
    margin-left: 0.1em;
  }
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.typewriter-wrapper{
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
}
.typewriter-caption{
  margin-left: 0.5em;
  display: inline;
  color: #818181;
  opacity: 0;
  transition: opacity 0.5s ease;
  &.start {
    opacity: 1;
  }
  &.end {
    opacity: 0;
  }
}